.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #e45656, 0 3px 6px #e45656;
    text-align: left;
    border-radius: 20px;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#f54646;
    border-radius: 20px 20px 5px 5px;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  